.app {
    position: relative;
}
.app__wrapper {
    width: 1150px;
}

main {
    margin: 15px;
    margin-bottom: 50px
}

.bg-decoration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 467px;
    height: 372px;
    z-index: -20;
}